body {
    margin: 0;
}

.header {
    height: 40px; /* Высота слоя */
    background: #FEDFC0;
    border-bottom: 2px solid #7B5427;
}

.left {
    width: 100%;
    background: #ECF5E4;
    border-right: 1px solid #231F20;
    top: 10%; /* Расстояние от верхнего края */
    bottom: 0; /* Расстояние снизу  */
    position: absolute;
    overflow: auto;
    padding: 10px;
}

.content {
    top: 10%; /* Расстояние от верхнего края */
    left: 170px; /* Расстояние от левого края */
    bottom: 0;
    right: 10%;
    position: absolute;
    overflow: auto;
    padding: 10px;
}

.left {
    width: 100%;
    background: #ECF5E4;
    border-right: 1px solid #231F20;
    top: 10%; /* Расстояние от верхнего края */
    bottom: 0; /* Расстояние снизу  */
    position: absolute;
    overflow: auto;
    padding: 10px;
}

.navmen {
    float: left;
}

    .navmen ul {
        margin: 5px;
        padding: 0;
        list-style: none;
    }

    .navmen li {
        display: inline-block;
    }

    .navmen a {
        text-decoration: none;
        line-height: 38px;
    }

.none {
    max-width:400px;
}